<div class="container-fluid">
  	<div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="background: #F5F5F5;height:600px">
        	<h2 class="page-header">数据类型</h2>
          	<ul class="nav nav-sidebar" id="sidebtn">
	            <li clickname="list1"><a href="javascript:;">导航分栏</a></li>
	            <li clickname="list2"><a href="javascript:;">推荐品牌</a></li>
	            <li clickname="list3"><a href="javascript:;">推荐类目</a></li>
	            <li clickname="list4"><a href="javascript:;">更多类目</a></li>
          	</ul>
        </div>
        <div class="col-sm-9 col-md-10 main" id="content" style="height:600px">
          	
        </div>
    </div>
</div>