<div class="container">
	<table class="table table-bordered">
		<caption>
			推荐品牌
			<button id="add-list2" class="btn btn-primary pull-right">添加</button>
		</caption>
		<thead>
			<tr>
				<th>序号</th>
				<th>分类ID</th>
				<th>商标ID</th>
				<th>图片路径</th>
				<th>名字</th>
				<th>过滤ID</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="list-con2">
			
		</tbody>
	</table>

	<div class="row">
		<nav class="col-md-12 pull-right" aria-label="Page navigation">
			<ul class="pagination" id="paginationCon2">
				
			</ul>
		</nav>
	</div>
</div>